@font-face{
    font-family: "calculator";
    src: url("./fonts/Open\ 24\ Display\ St.ttf") format("truetype");
  }

.App {
    background: rgb(141, 141, 141);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: flex;
    flex-flow: column wrap;
    width: 250px;
    height: 550px;
    align-items: space-between;
}

.screen {
    height: 35%;
    width: 99%;
    align-self: center;
    font-size: 20pt;
    font-family: "calculator" ;
}

.formulaScreen {
    background: #ffffff;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: auto;
    border-radius: 5px;
}

.entradaScreen {
    padding: 3px;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
    background: #ffffff;
    border-radius: 5px;
}

.conteBotones {
    align-self: center;
    height: 65%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* align-content: center; */
}

.boton {
    margin: 1px;
    width: 24%;
    height: 19%;
}

#clear {
    width: 49%;
}

#equals {
    
    width: 49%;
}

#zero {
    width: 49%;
}

footer {
    font-size: small;
}